{% load i18n %}
<div class="pagination">
    {% if all_students.has_previous %}
        <a href="?{{ all_students.previous_page_number.querystring }}" class="prev">上一页</a>
    {% else %}
        <span class="disabled prev">上一页</span>
    {% endif %}
    {% for page in all_students.pages %}
        {% if page %}
            {% ifequal page all_students.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if all_students.has_next %}
        <a href="?{{ all_students.next_page_number.querystring }}" class="next">下一页</a>
    {% else %}
        <span class="disabled next">下一页</span>
    {% endif %}
</div>