{% extends 'base.html' %}
{% block title %}修改密码{% endblock %}
{% block css %}{% endblock %}
{% block page-title %}修改密码{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'index' %}">驾驶舱</a>
    </li>
    <li>
        <a href="javascript:void(0)">个人中心</a>
    </li>
    <li>
        <a href="{% url 'account:change_password' %}"><strong>修改密码</strong></a>
    </li>
{% endblock %}
{% block page-content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                       <h2>密码更改成功</h2>
                        <p>你的密码已修改。</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock %}
